<link rel='stylesheet' href='app/register/register.css'>

<h1 class='text-center headerTopMargin'> Register for flo </h1>

<div class='col col-md-6 col-md-offset-3'>
  <form id='registerForm'>
    <div class='form-group'>
      <input type='email' class='form-control' ng-model='user.email' placeholder='Email'>
      <input type='text' class='form-control' ng-model='user.firstName' placeholder='First Name'>
      <input type='text' class='form-control' ng-model='user.lastName' placeholder='Last Name'>
      <input type='password' class='form-control' ng-model='user.password' placeholder='Password'>
      <input type='password' class='form-control' ng-model='password2' placeholder='Confirm Password'>
      <button ng-click='register(user)' class='btn btn-primary form-control'>Register</button>
    </div>
  </form>
</div>